<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Nougat Blog</h1>
                    <span class="subheading">Blog by Vlad Kuzma for IGI</span>
                    <a class="subheading" asp-area="" asp-controller="Home" asp-action="IndexCategories">Categories</a>
                </div>
            </div>
        </div>
    </div>
</header>