@model Blog111.Models.UserViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Add User";
}
<form asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Pass</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Header" class="control-label">Header</label>
        <input type="text" asp-for="Header" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="content" class="control-label">Content</label>
        <input type="text" asp-for="content" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-secondary" />
    </div>
</form>